/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  background-color: rgba(242, 242, 242);
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@keyframes fade {
  0% {
    opacity: 0;
    transform: translateY(-3rem);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
.navigation .checkbox {
  display: none;
}
.navigation .checkbox:checked ~ .navigation_background {
  transform: scale(145);
}
@media ( min-width: 700px ) {
  .navigation .checkbox:checked ~ .navigation_background {
    transform: scale(200);
  }
}
@media ( min-width: 1200px ) {
  .navigation .checkbox:checked ~ .navigation_background {
    transform: scale(300);
  }
}
.navigation .checkbox:checked ~ .nav {
  opacity: 1;
  width: 100%;
}
.navigation .checkbox:checked + .button .button_style {
  background: transparent;
}
.navigation .checkbox:checked + .button .button_style::before {
  top: 0;
  transform: rotate(45deg);
}
.navigation .checkbox:checked + .button .button_style::after {
  top: 0;
  transform: rotate(-45deg);
}
.navigation .button {
  position: fixed;
  top: 1.4rem;
  right: 2.1rem;
  z-index: 10;
  height: 2.7rem;
  width: 2.7rem;
  border-radius: 50%;
  background-color: whitesmoke;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.navigation .button:hover ::before {
  top: -0.6rem;
}
.navigation .button:hover ::after {
  top: 0.6rem;
}
.navigation .button .button_style {
  position: relative;
  top: 20px;
  right: -9px;
}
.navigation .button .button_style,
.navigation .button .button_style::before,
.navigation .button .button_style::after {
  width: 1.6rem;
  height: 2px;
  display: inline-block;
  background-color: black;
}
.navigation .button .button_style::before,
.navigation .button .button_style::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.1s;
}
.navigation .button .button_style::before {
  top: -0.4rem;
}
.navigation .button .button_style::after {
  top: 0.4rem;
}
.navigation .navigation_background {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  position: fixed;
  top: 1.6rem;
  right: 2.7rem;
  background-image: radial-gradient(#7e4113, #491C00);
  z-index: 8;
  transition: all 0.8s ease-in;
}
.navigation .nav {
  height: 100vh;
  width: 0%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.38, -0.95, 0.215, 1.85);
}
.navigation .nav .nav_list {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
}
.navigation .nav .nav_list .item {
  margin: 45px 0;
  text-align: center;
  width: 100%;
}
.navigation .nav .nav_list .item .link {
  display: inline-block;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 400;
  color: whitesmoke;
  width: 100%;
  padding: 20px 50px;
  border: 2px solid whitesmoke;
  transition: all 0.6s;
}
.navigation .nav .nav_list .item .link:hover {
  opacity: 1;
  animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  color: #A7632F;
  background-color: whitesmoke;
}
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
.header {
  height: 90vh;
  position: relative;
  background-color: #000000;
  overflow: hidden;
  transform-style: preserve-3d;
}
.header::before {
  content: "";
  opacity: 0;
  animation: fade 2s ease-out forwards;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)), url("../images/headers/hero_platter_small.jpg");
  background-size: cover;
  background-position: bottom;
}
@media ( min-width: 700px ) {
  .header::before {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)), url("../images/headers/hero_platter_medium.jpg");
    background-size: cover;
    background-position: bottom;
  }
}
@media ( min-width: 1200px ) {
  .header::before {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)), url("../images/headers/hero_platter_large.jpg");
    background-size: cover;
    background-position: bottom;
  }
}
.header .logo_div {
  position: absolute;
  top: -130px;
  left: -100px;
  z-index: 1;
}
.header .logo_div .logo_image {
  height: 350px;
}
.header .headings {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header .headings .primary_header .primary_header_title {
  animation: fade 2s ease-out forwards 0.8s;
  opacity: 0;
  color: #cecece;
  display: block;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 1.6rem;
  text-align: center;
  text-transform: uppercase;
}
@media ( min-width: 400px ) {
  .header .headings .primary_header .primary_header_title {
    font-size: 2.2rem;
  }
}
@media ( min-width: 700px ) {
  .header .headings .primary_header .primary_header_title {
    font-size: 2.6rem;
  }
}
@media ( min-width: 1200px ) {
  .header .headings .primary_header .primary_header_title {
    font-size: 2.9rem;
  }
}
.header .headings .primary_header .primary_header_subtitle {
  opacity: 0;
  animation: fade 2s ease-out forwards 1.4s;
  color: #D1AB74;
  margin-top: 10px;
  display: block;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 1rem;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
}
@media ( min-width: 700px ) {
  .header .headings .primary_header .primary_header_subtitle {
    font-size: 1.4rem;
  }
}
@media ( min-width: 1200px ) {
  .header .headings .primary_header .primary_header_subtitle {
    font-size: 1.6rem;
  }
}
.section_explore {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 400px;
  background-color: #A7632F;
}
@media ( min-width: 400px ) {
  .section_explore {
    height: 205px;
  }
}
.section_explore h2 {
  margin: 20px 0 10px 0;
  color: #e2e2e2;
  font-size: 1.6rem;
  letter-spacing: 1.3px;
}
@media ( min-width: 700px ) {
  .section_explore h2 {
    font-size: 1.8rem;
    letter-spacing: 1.4px;
  }
}
@media ( min-width: 1200px ) {
  .section_explore h2 {
    font-size: 2rem;
  }
}
.section_explore .section_container {
  display: flex;
  flex-direction: column;
  width: 90%;
}
.section_explore .section_container p {
  color: #e2e2e2;
  text-align: center;
  letter-spacing: 0.5px;
}
@media ( min-width: 700px ) {
  .section_explore .section_container p {
    font-size: 1.1rem;
  }
}
@media ( min-width: 1200px ) {
  .section_explore .section_container p {
    font-size: 1.2rem;
  }
}
.cards_heading {
  width: 100%;
  margin: 60px 0 0px;
}
.cards_heading h2 {
  color: #B5854E;
  text-align: center;
  font-size: 2.5rem;
}
.cards {
  margin: 0px auto;
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
@media ( min-width: 700px ) {
  .cards {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
}
.cards .card {
  width: 100%;
  margin: 40px 0;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
@media ( min-width: 700px ) {
  .cards .card {
    width: 550px;
  }
}
@media ( min-width: 1000px ) {
  .cards .card {
    width: 334px;
  }
}
@media ( min-width: 1200px ) {
  .cards .card {
    width: 400px;
  }
}
.cards .card .card_title {
  text-align: center;
  font-size: 1.9rem;
  padding: 15px 0;
  color: #B5854E;
  position: relative;
}
.cards .card .content {
  background-color: #B5854E;
  position: relative;
  overflow: hidden;
}
.cards .card .content .card_image {
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 100%;
  height: 300px;
  transition: all 0.6s 0.3s;
}
@media ( min-width: 700px ) {
  .cards .card .content .card_image {
    height: 325px;
  }
}
@media ( min-width: 1200px ) {
  .cards .card .content .card_image {
    height: 370px;
  }
}
.cards .card .content .tags {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.6s;
  transform: translateX(-100%);
  opacity: 0;
}
.cards .card .content .tags h4 {
  color: white;
  font-size: 1.4rem;
  letter-spacing: 6px;
  margin-bottom: 10px;
}
.cards .card .content .tags p {
  color: white;
  font-size: 1rem;
  letter-spacing: 1.2px;
  margin: 15px 38px 0;
}
.cards .card .content:hover .tags {
  transform: translateX(0%);
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
}
.cards .card .content:hover .card_image {
  transform: scale(1.1) rotate(10deg);
}
.cards .card .card_button {
  display: block;
  text-decoration: none;
  padding: 15px;
  margin: 10px 0px;
  text-align: center;
  font-size: 1.4rem;
  border: 2px solid #A7632F;
  color: #B5854E;
  transition: all 0.8s;
}
.cards .card .card_button:hover {
  color: white;
  background-color: #B5854E;
  border-color: #B5854E;
}
h2.gallery_header {
  color: #B5854E;
  text-align: center;
  font-size: 2.5rem;
  margin: 60px 0px 80px;
}
.gallery_images {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto 50px;
}
.gallery_images .gallery_image {
  height: 250px;
  flex-grow: 1;
  margin: 0 0 8px 8px;
}
.gallery_images .gallery_image:nth-child( 4n + 1 ) {
  flex-basis: 250px;
}
.gallery_images .gallery_image:nth-child( 4n + 2 ) {
  flex-basis: 325px;
}
.gallery_images .gallery_image:nth-child( 4n + 3 ) {
  flex-basis: 400px;
}
.gallery_images .gallery_image:nth-child( 4n + 4 ) {
  flex-basis: 380px;
}
.gallery_images .gallery_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header_about_us::before {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)), url("../images/headers/hero_small.jpg");
  background-size: cover;
  background-position: bottom;
}
@media ( min-width: 700px ) {
  .header_about_us::before {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)), url("../images/headers/hero_medium.jpg");
    background-size: cover;
    background-position: bottom;
  }
}
@media ( min-width: 1200px ) {
  .header_about_us::before {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)), url("../images/headers/hero_large.jpg");
    background-size: cover;
    background-position: bottom;
  }
}
.developers {
  margin: 100px auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.developer {
  width: 80%;
  height: 350px;
  position: relative;
  margin: 15px 15px;
}
@media ( min-width: 700px ) {
  .developer {
    width: 450px;
  }
}
@media ( min-width: 1000px ) {
  .developer {
    width: 334px;
  }
}
@media ( min-width: 1200px ) {
  .developer {
    width: 400px;
  }
}
.developer .developer_image {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: all 1s;
}
.developer .developer_image img {
  width: 100%;
  height: 100%;
}
.developer .developer_information {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: -10;
}
.developer:hover .developer_image {
  width: 100px;
  height: 100px;
  left: 40%;
  top: 85%;
}
.developer .developer_content {
  transform: scale(0);
  opacity: 0;
  transition: all 1s;
}
.developer .developer_content h4 {
  color: white;
  font-size: 1.4rem;
  letter-spacing: 6px;
  margin-bottom: 10px;
}
.developer .developer_content p {
  color: white;
  font-size: 1rem;
  letter-spacing: 1.2px;
  margin: 15px 38px 0;
}
.developer:hover .developer_content {
  opacity: 1;
  transform: scale(1);
}
.social_media a {
  width: 30px;
  cursor: pointer;
}
.social_media i {
  cursor: pointer;
  color: white;
  margin: 10px;
  font-size: 25px;
  z-index: 100000;
}
.social_media i:hover {
  cursor: pointer;
}
.developers .developer:nth-child( 2 ) .developer_information {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url("../images/developers/lasagne.jpg");
  background-size: cover;
  background-position: bottom;
}
.developers .developer:nth-child( 3 ) .developer_information {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url("../images/developers/mac_cheese.jpg");
  background-size: cover;
  background-position: bottom;
}
.developers .developer:nth-child( 4 ) .developer_information {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url("../images/developers/ice_cream.jpg");
  background-size: cover;
  background-position: bottom;
}
.developers .developer:nth-child( 5 ) .developer_information {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url("../images/developers/hamburguer.jpeg");
  background-size: cover;
  background-position: bottom;
}
.developers .developer:nth-child( 7 ) .developer_information {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url("../images/developers/pizza.jpg");
  background-size: cover;
  background-position: bottom;
}
.developers .developer:nth-child( 8 ) .developer_information {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url("../images/developers/chocolate.jpg");
  background-size: cover;
  background-position: bottom;
}
.footer {
  height: 150px;
  width: 100%;
  background-color: #A7632F;
  color: #e2e2e2;
  display: flex;
  flex-direction: column;
}
.footer .stay_connected {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}
@media ( min-width: 500px ) {
}
.footer .stay_connected h4 {
  font-size: 1.6rem;
  padding: 10px 0;
  letter-spacing: 1px;
  display: inline-block;
}
.footer .stay_connected p {
  font-size: 1.1rem;
  display: inline-block;
}
.footer .stay_connected .email {
  margin-top: 15px;
  height: 40px;
  display: flex;
  justify-content: center;
}
.footer .stay_connected .email i {
  border: 1px solid white;
  color: white;
  width: 40px;
  line-height: 40px;
}
.footer .stay_connected .email input {
  border: none;
  outline: none;
  width: 0px;
  transition: 0.8s;
  height: 40px;
  margin: 0;
  padding: 0;
}
.footer .stay_connected .email button {
  border: none;
  outline: none;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 0 10px;
  height: 40px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.6s;
}
.footer .stay_connected .email button:hover {
  background-color: white;
  color: #A7632F;
}
.footer .stay_connected .email:hover > input,
.footer .stay_connected .email input:focus {
  width: 260px;
  padding: 0 10px;
}
