/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.navigation .checkbox {
  display: none;
}
.navigation .checkbox:checked ~ .navigation_background {
  transform: scale(120);
}
.navigation .checkbox:checked ~ .nav {
  opacity: 1;
  width: 100%;
}
.navigation .checkbox:checked + .button .button_style {
  background: transparent;
}
.navigation .checkbox:checked + .button .button_style::before {
  top: 0;
  transform: rotate(45deg);
}
.navigation .checkbox:checked + .button .button_style::after {
  top: 0;
  transform: rotate(-45deg);
}
.navigation .button {
  position: fixed;
  top: 1.4rem;
  right: 2.1rem;
  z-index: 10;
  height: 2.7rem;
  width: 2.7rem;
  border-radius: 50%;
  background-color: whitesmoke;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.navigation .button:hover ::before {
  top: -0.6rem;
}
.navigation .button:hover ::after {
  top: 0.6rem;
}
.navigation .button .button_style {
  position: relative;
  top: 20px;
  right: -9px;
}
.navigation .button .button_style,
.navigation .button .button_style::before,
.navigation .button .button_style::after {
  width: 1.6rem;
  height: 2px;
  display: inline-block;
  background-color: black;
}
.navigation .button .button_style::before,
.navigation .button .button_style::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.1s;
}
.navigation .button .button_style::before {
  top: -0.4rem;
}
.navigation .button .button_style::after {
  top: 0.4rem;
}
.navigation .navigation_background {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  position: fixed;
  top: 1.6rem;
  right: 2.7rem;
  background-image: radial-gradient(#7e4113, #491C00);
  z-index: 8;
  transition: all 0.8s ease-in;
}
.navigation .nav {
  height: 100vh;
  width: 0%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.38, -0.95, 0.215, 1.85);
}
.navigation .nav .nav_list {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
}
.navigation .nav .nav_list .item {
  margin: 55px;
}
.navigation .nav .nav_list .item .link {
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 400;
  color: whitesmoke;
  padding: 50px;
}
.header {
  height: 90vh;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 95%);
  position: relative;
  overflow: hidden;
  transform-style: preserve-3d;
}
.header::before {
  content: "";
  opacity: 0;
  animation: fade 2s ease-out forwards;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)), url("../images/hero_small.jpg");
  background-size: cover;
  background-position: bottom;
}
.header .logo_div {
  position: absolute;
  top: -110px;
  left: -80px;
  z-index: 1;
}
.header .logo_div .logo_image {
  height: 310px;
}
.header .headings {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header .headings .primary_header .primary_header_title {
  animation: fade 2s ease-out forwards 0.8s;
  opacity: 0;
  color: #b1b0b0;
  display: block;
  font-size: 2.2rem;
  font-weight: 400;
  letter-spacing: 1.6rem;
  text-align: center;
  text-transform: uppercase;
}
.header .headings .primary_header .primary_header_subtitle {
  opacity: 0;
  animation: fade 2s ease-out forwards 1.4s;
  color: #D1AB74;
  margin-top: 10px;
  display: block;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 1rem;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
}
@keyframes fade {
  0% {
    opacity: 0;
    transform: translateY(-3rem);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
.section_explore {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section_explore div {
  width: 80%;
  text-align: center;
}
