.developers
{
    margin: 100px auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.developer
{
    width: 80%;
    height: 350px;
    position: relative;
    margin: 15px 15px;

    @media @medium
    {
        width: 450px;
            
    }

    @media @medium_large
    {
        width: 334px;
    } 

    @media @large
    {
        width: 400px;
    }

    .developer_image
    {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        transition: all 1s;

        img
        {
            width: 100%;
            height: 100%;
        }
    }

    .developer_information
    {
        position: absolute;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        z-index: -10;
    }

    &:hover .developer_image
    {
        width: 100px;
        height: 100px;
        left: 40%;
        top: 85%;
    }

    .developer_content
    {
        transform: scale( 0 );
        opacity: 0;
        transition: all 1s;

        h4
        {
            color: white;
            font-size: 1.4rem;
            letter-spacing: 6px;
            margin-bottom: 10px;
        }

        p
        {
            color: white;
            font-size: 1rem;
            letter-spacing: 1.2px;
            margin: 15px 38px 0; 
        }
    }

    &:hover .developer_content
    {
        opacity: 1;
        transform: scale( 1 );
    }
}

.social_media a
{
    width: 30px;
    cursor: pointer;
}

.social_media i
{
    cursor: pointer;
    color: white;
    margin: 10px;
    font-size: 25px;
    z-index: 100000;
}

.social_media i:hover
{
    cursor: pointer;
}

.developers .developer:nth-child( 2 ) .developer_information 
{
    .background( 0.8, "../images/developers/lasagne.jpg" );
}

.developers .developer:nth-child( 3 ) .developer_information 
{
    .background( 0.8, "../images/developers/mac_cheese.jpg" );
}

.developers .developer:nth-child( 4 ) .developer_information 
{
    .background( 0.8, "../images/developers/ice_cream.jpg" );
}

.developers .developer:nth-child( 5 ) .developer_information 
{
    .background( 0.8, "../images/developers/hamburguer.jpeg" );
}

.developers .developer:nth-child( 7 ) .developer_information 
{
    .background( 0.8,"../images/developers/pizza.jpg" );
}

.developers .developer:nth-child( 8 ) .developer_information 
{
    .background( 0.8, "../images/developers/chocolate.jpg" );
}