.header
{
    height: 90vh;
    position: relative;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    transform-style: preserve-3d;

    &::before
    {
        content: "";
        opacity: 0;
        animation: fade 2s ease-out forwards;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        background: linear-gradient( to bottom, rgba( 0, 0, 0, 0.6 ),rgba( 0, 0, 0, 0.9 ) ), url( "../images/headers/hero_small.jpg" );
        background-size: cover;
        background-position: bottom;

        @media @medium
        {
            background: linear-gradient( to bottom, rgba( 0, 0, 0, 0.6 ),rgba( 0, 0, 0, 0.9 ) ), url( "../images/headers/hero_medium.jpg" );
        }

        @media @large
        {
            background: linear-gradient( to bottom, rgba( 0, 0, 0, 0.6 ),rgba( 0, 0, 0, 0.9 ) ), url( "../images/headers/hero_large.jpg" );
        }
    }

    .logo_div
    {
        position: absolute;
        top: -130px;
        left: -100px;
        z-index: 1;

        .logo_image
        {
            height: 350px;
        }
    }
    
    .headings
    {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate( -50%, -50% );

        .primary_header
        {
            .primary_header_title
            {
                animation: fade 2s ease-out forwards 0.8s;
                opacity: 0;
                color: rgb(206, 206, 206);
                display: block;
                font-size: 1.2rem;
                font-weight: 400;
                letter-spacing: 1.6rem;
                text-align: center;
                text-transform: uppercase;

                @media @small
                {
                    font-size: 2.2rem;
                }

                @media @medium
                {
                    font-size: 2.6rem;
                }

                @media @large
                {
                    font-size: 2.9rem;
                }
            }

            .primary_header_subtitle
            {
                opacity: 0;
                animation: fade 2s ease-out forwards 1.4s;
                color : #D1AB74;
                margin-top: 10px;
                display: block;
                font-size: 1.2rem;
                font-weight: 400;
                letter-spacing: 1rem;
                text-transform: uppercase;
                width: 100%;
                text-align: center;

                @media @medium
                {
                    font-size: 1.4rem;
                }

                @media @large
                {
                    font-size: 1.6rem;
                }
            }
        }
    }
}

//Animations
@keyframes fade
{
    0%
    {
        opacity: 0;
        -webkit-transform: translateY( -3rem );
                transform: translateY( -3rem );
    }

    100%
    {
        opacity: 1;
        -webkit-transform: none;
                transform: none;
    }
}