

// Theme Colors
@main_brown : #A7632F;
@secondary_brown : #B5854E;
@lighter_brown: #D1AB74;

@main_green: #1B3B19;
@secondary_green: #3A873C;

@m1 : rgba(73, 28, 0, 0.1);
@m2 : rgba(73, 28, 0, 0.85);